<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sphynx dating</title>
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-light bg-light">
      Sphynx dating
    </nav>

    <div class="container shadow-sm p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-lg-6">
          <h1 id ="header">Sphynx Dating!</h1>
          <p>Welcome to the web's most successful Sphynx dating website. At <strong>Sophisticated Sphynx Dating</strong>
          you'll meet other like minded felines. We have the highest success rate of
          cat couples on the web. Users are matched by interests and location. Find out why so many felines
          have found love on our site!</p>
          <h5 id="hear">Hear What our users are saying about us.</h5>

          <hr class="px-5">
          <p><i>sdasfgfasdf</i></p>
          <p><i>sdfasdfa</i></p>
          <p><i>thsidfs</i></p>
          <hr class="px-5">
          <div id="create_profile">
          <a href="" class="btn btn-primary" >Create a Profile!</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="images/homepage.jpg" id = "homepage"class="img-fluid rounded" alt="Responsive image">

        </div>
      </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>