<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"  href="../styles/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Profile Summary</title>
  </head>
  <body>
     <nav id="navbar" class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{{@BASE}}"> Sphynx dating</a>
     </nav>

     <div class="container shadow-sm p-3 mb-5 bg-white rounded">



               <div class="row">
               <!--right side of the container -->
                 <div class="col-lg-6 col-6">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Name: {{$_SESSION['first_name']}} {{$_SESSION['last_name']}}</td>
                          </tr>
                           <tr>
                          <td>Gender: {{$_SESSION['gender']}}</td>
                           <tr>
                           </tr>
                          <td>Age: {{$_SESSION['age']}}</td>
                           <tr>
                           </tr>
                          <td>Phone: {{$_SESSION['phone']}}</td>
                           <tr>
                           </tr>
                          <td>Email: {{$_SESSION['email']}}</td>
                           <tr>
                           </tr>
                          <td>State: {{$_SESSION['state']}}</td>
                           <tr>
                           </tr>
                          <td>Seeking: {{$_SESSION['seeking']}}</td>
                           <tr>
                           </tr>
                          <td>Interests:  {{$_SESSION['outdoorActivities[]']}} {{$_SESSION['indoorActivities[]']}}</td>
                        </tr>
                      </tbody>
                    </table>

                 </div>

                 <!--left side of the container-->
                 <div class="col-lg-6 col-6">

                     <img src="../images/user_icon.png" id = "icon" class="img-fluid rounded" alt="Responsive image">



                 <input type="submit" class="btn btn-primary float-right mt-5" name="next" value="Next >">
                 </div>
                 </div>
                 </form>
                 <p>Biography:</p>
          </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>