#header{
    text-align: center;
}
#hear{
    text-align: center;
}
#create_profile{
    text-align: center;
}
#navbar{
    margin-bottom: 3%;
}
.indent {
    margin-left: 10%;
}

a.btn.btn-primary {
    margin-bottom: 10%;
}