#header {
    text-align: center;
}

#hear {
    text-align: center;
}

#create_profile {
    text-align: center;
}

#navbar {
    margin-bottom: 3%;
}

.indent {
    margin-left: 10%;
}

a.btn.btn-primary {
    margin-bottom: 10%;
}

label, input {
    width: 100%;
}

#note {
    background-color: #f0f1f1;
}

.policy{
    color: #387fbd;
}

