#header {
    text-align: center;
}

#hear {
    text-align: center;
}

#create_profile {
    text-align: center;
}

#navbar {
    margin-bottom: 3%;
}

.indent {
    margin-left: 10%;
}

a.btn.btn-primary {
    margin-bottom: 10%;
}

input.btn.btn-primary.float-right {
    margin-left: 91%;
}

label {
    width: 100%;
}

#note {
    background-color: #f0f1f1;
}

.policy {
    color: #387fbd;
}


.scroll {
    overflow-y: scroll;
    width: 100%;
    min-height: 110px;
}
